<div>
    <h2>Adding Alternative :</h2>
</div>
    <form action="" class="form" (ngSubmit)="onSubmit()">
      <div class="one">
        <input type="text" id="alternative" name="AlternativeName" [(ngModel)]="AlternativeName" placeholder="Add Alternative">
        <input type="text" id="alternative" name="AlternativeName" [(ngModel)]="AlternativeName" placeholder="Add Alternative">
        <button type="submit" value="Add" class="btn">+</button>
        <div class="navigation">
            <button class="forward"
                routerLink="/comparisons">&gt;
            </button>
        </div>
      </div>
    </form>
