<div>
    <h2 style="padding-top:2%">Add Alternatives:</h2>
</div>
<!-- <form action="" class="form" (ngSubmit)="onSubmit()"> -->
<div class="form" *ngFor="let alternative of alternatives">
    <input type="text" id="alternative" name="AlternativeName" [(ngModel)]="alternative.alternativeName" placeholder="Add Alternative">
</div>

<div>
    <button type="submit" value="Add" class="btn" (click)="addInput()">+</button>
</div>

<div>
    <button class="forward"
        (click)="saveInputs()">&gt;
    </button>
</div>

<!-- </form> -->
