<div class="priority">
  <!-- Criterion 1 is a placeholder, should display data from db -->
  <label for="range" class="alternative left">Alternative 1</label>
  <div class="slider">
    <div class="nums">
      <span class="num">9</span>
      <span class="num">7</span>
      <span class="num">5</span>
      <span class="num">3</span>
      <span class="num">1</span>
      <span class="num">3</span>
      <span class="num">5</span>
      <span class="num">7</span>
      <span class="num">9</span>
    </div>
    <input type="range" value="0" min="-4" max="4" step="1" class="range">
  </div>
  <!-- Another placeholder -->
  <label for="range" class="alternative right">Alternative 2</label>
</div>
