<!-- <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Goal name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->

<h3>Goals</h3>
<tbody>
  <tr *ngFor="let goal of goals$"> <!-- adding of to retrive data -->
      <td>{{ goal.name}}</td>
  </tr>
</tbody>

<button type="submit" 
(click)="getAllGoals()">Add Goal</button>