.priority {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10vh 0;
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 30vw;
  margin: 0 2vw;
}
.range {
  position: relative;
  margin: 10px;
  height: 5px;
  width: 30vw;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #CC324E;
}
.nums {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30vw;
  color: #CC324E;
  font-size: 2vh;
}
.alternative {
  position: relative;
  margin-top: 2vh;
  padding: 0 0.5vw;
  color: #CC324E;
  font-size: 4vh;
}
.forward{
  border: none;
  border-radius: 3em;
  outline: none;
  margin: 0vh;
  height: 8vh;
  background-color: #CC324E;
  color: rgb(255, 255, 255);
  width: 15vh;
  font-size: 6.5vh;
  margin-left:0%;
  font-size: 8vh;
  width: 16vh;
}
.forward:hover{
  color:rgb(247, 246, 250);
  background-color:#4F4F4F;
}
.navigation button {
  margin: 10vh 7.5vw;
}

