<div>
    <h1>About</h1>
    <br>
    <p>AHP, short for analytic hierarchy process is tehnique for complex decision analysis based on mathematics.
        It is developed by Thomas L. Saaty, and since then it has been refined and redefined many times.
        This application is used in group decision making in wide variety of decision situations.
        In this application you have to enter the goal of your decision(eg. Choosing the leader of company), certain number of criteria of choosing (eg. age, charisma etc.) and possible alternatives (Jeff, Mark etc.).
        Furthermore, you need to specify the importance of each criteria mutually and importance of each alternative for each criteria.
        You will need to specify the importance between criteria and importance between each alternative by using <b>The Fundamental Scale for Pairwise Comparisons</b> :
    </p>
    <br>
    <table class="minimalistBlack">
            <thead>
            <tr>
            <th>Intensity of Importance</th>
            <th>Definition</th>
            <th>Explanation</th>
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>Equal Importance</td>
                <td>Two elements contribute equally to the objective.</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Moderate Importance</td>
                <td>One element is moderately favored over another.</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Strong Importance</td>
                <td>One element is strongly favored over another.</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Very strong Importance</td>
                <td>One element is favored very strongly over another, its dominance is demonstrated in practice.</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Very strong Importance</td>
                <td>The evidence favoring one element over another is of the highest possible order of affirmation.</td>
                </tr>
    </table>
</div>
<footer>
  <div class="links">
    <div class="imgs">
      <a href="https://github.com/praksamono/AHP" target="_blank"><img src="../../../assets/gh.png" alt=""></a>
      <a href="" target="_blank"><img src="../../../assets/fb.png" alt=""></a>
      <a href="" target="_blank"><img src="../../../assets/tw.png" alt=""></a>
      <a href="" target="_blank"><img src="../../../assets/ig.png" alt=""></a>
    </div>
    <span id="copyright">&copy Wilsonova, 2019.</span>
  </div>
</footer>
