// Red (for buttons, headings, borders, table)
$monoRed: #CC324E;

// Dark gray (for user input, legend, table data, small headings)
$darkGray: #4F4F4F;

// White (for (input/table body/legend/slider) background,
// 						(button/table header) text)
$pureWhite: #FFFFFF;

// "Dirty" white (for body background)
$dirtyWhite: #F8F8F8;

// Light gray (for table footer background)
$lightGray: #EEEEEE;

// Slider width
$sliderWidth: 30vw;
